[Unit]
Description = flask python command to do useful stuff

[Service]
Type=forking
ExecStart = /home/TonyYang/ExtraHW/flask_run.sh

[Install]
WantedBy = multi-user.target
