[Unit]
Description = flask python command to do useful stuff

[Service]
ExecStart = /home/TonyYang/flask_run.sh

[Install]
WantedBy = multi-user.target