<!DOCTYPE html>
<html>
<head>
<meta charset="GB18030">
<title>更改密码</title>
</head>
 
<body>
    
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <center>
    <div>
        密码修改要求:<br>
        1. 长度在8~16字符之间<br>
        2. 要求有字母, 数字, 其他字符<br>
    </div>
    </center>
    <center>
        <form name="change" action="{{url_for("change_password")}}" method="post">
            输入密码: <input type="password" name="passwd1"> <br>
            确认密码: <input type="password" name="passwd2"> <br>
            <input type="text" name = "userid" value="{{userid}}" style="display: none"><br>
            <input type="submit" value="登录">
        </form>
    </center>
    <script type="text/javascript">
        var ans = {{test_result}}
        if (ans == 0)
            alert("两次输入的密码不同!")
        else if (ans == 2)
            alert("密码强度过低/过高!请重新修改密码")

    </script>
</body>
 
</html>